body{

    background: var(--Light-blue-light-blue-100, #F3F5FC);
}

#titulo{
    color: #0A3871; 
    font-family: Inter;
}
 
#titulo2{
    text-align: center;margin-left: 10px;
    margin-bottom: 10px;
}
#columna{
    background: var(--Light-blue-light-blue-100, #F3F5FC);
}



#ingreso{
    color: #0A3871; 
    font-family: Inter;
    height: 543px;
    font-size: 32px;
    font-style: normal;
    background: var(--Light-blue-light-blue-100, #F3F5FC) ;
    border-color: var(--Light-blue-light-blue-100, #F3F5FC);

}

#encriptar{

    background-color: #0A3871 ;
    border-color: #0A3871;
}

#desencriptar{

    background-color: #3164a4;
    border-color: #3164a4;
}


#mostrar{
    color: #0A3871; 
    font-family: Inter;
    height: 543px;
    font-size: 32px;
    font-style: normal;

}

#copy{
    background-color: #0A3871 ;
    border-color: #0A3871;
}


